<?xml version="1.0" encoding="utf-8" ?>

<!-- this configuration file should not be edited. -->

<Site>

  <!-- DisplayNetworkPerformance - values: true/false
  
  true - display rolling average of most recent durations of network request to response on the browser
  false - do not display the rolling average
  -->
  <DisplayNetworkPerformance>true</DisplayNetworkPerformance>
  
  <!-- commands used by smart clients -->
  <!--NOTE: at the moment goto page commands have to be *after* XDT commands -->
  <EventsRequestedBySmartClients>
    
    <Event Id="AbpInitialiseSuccessful">
      <Commands>
        <!-- this command is executed after ABP recorder has been initialised by the ABP initialise smart client -->
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="AbpDownloadCompleted">
      <Commands>
        <!-- these commands are executed after ABP recording has been downloaded by the ABP download smart client-->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="AbpDownloadCompletedWithUnidentifiedPatient">
      <Commands>
        <!-- these commands are executed after ABP recording has been downloaded by the ABP download smart client-->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Patient/IdentifyPatient</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="AbpDownloadCompletedWithUnidentifiedCase">
      <Commands>
         <!--this command is executed after an abp Download is stored--> 
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Case/IdentifyCase</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="AbpDownloadCompletedWithUnidentifiedOrder">
      <Commands>
        <!--this command is executed after an abp Download is stored-->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Order/IdentifyOrder</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="TwelveLeadAcquireSaved">
      <Commands>
        <!-- this command is executed after a Twelve lead ecg acquire is saved -->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>  
    </Event>
    
    <Event Id="TwelveLeadAcquireSavedWithUnidentifiedPatient">
      <Commands>
        <!-- this command is executed after a Twelve lead ecg acquire is saved -->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Patient/IdentifyPatient</PageName>
        </Command>
      </Commands>  
    </Event>

    <Event Id="StressAcquireStored">
      <Commands>
        <Command Type="SendXdtEventCommand">
          <EventType>StressTestAcquired</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="HolterDownloadStored">
      <Commands>
        <!-- this command is executed after a Holter Download is stored -->
        <Command Type="SendXdtEventCommand">
          <EventType>HolterDataAcquired</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="HolterDownloadStoredWithUnidentifiedPatient">
      <Commands>
        <!-- this command is executed after a Holter Download is stored -->
        <Command Type="SendXdtEventCommand">
          <EventType>HolterDataAcquired</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Patient/IdentifyPatient</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="HolterDownloadStoredWithUnidentifiedCase">
      <Commands>
        <!-- this command is executed after a Holter Download is stored -->
        <Command Type="SendXdtEventCommand">
          <EventType>HolterDataAcquired</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Case/IdentifyCase</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="HolterDownloadStoredWithUnidentifiedOrder">
      <Commands>
        <!--this command is executed after an abp Download is stored-->
        <Command Type="SendXdtEventCommand">
          <EventType>VirtualReportAdded</EventType>
        </Command>
        <Command Type="StartWorkflowAtPageCommand">
          <Permissions>EditTestDetails</Permissions>
          <PageName>Order/IdentifyOrder</PageName>
        </Command>
      </Commands>
    </Event>

    <Event Id="HolterAnalysisStored">
      <Commands>
        <!-- this command is executed after a Holter analysis is stored -->
        <Command Type="SendXdtEventCommand">
          <EventType>HolterDataAnalysed</EventType>
        </Command>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="ReportCreated">
      <Commands>
        <!-- this command is executed after a PDF report is created (holter or stress)-->
        <Command Type="SendXdtEventCommand">
          <EventType>ReportCreated</EventType>
        </Command>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="TestWithVirtualReportConfirmed">
      <Commands>
        <!--command for the review smart clients-->
        <Command Type="SendXdtReportEventFromValuesCommands">
          <WasReportConfirmed>true</WasReportConfirmed>
        </Command>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="TestWithVirtualReportSaved">
      <Commands>
        <Command Type="SendXdtReportEventFromValuesCommands">
          <WasReportConfirmed>false</WasReportConfirmed>
        </Command>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="TestWithVirtualReportDeclined">
      <Commands>
        <Command Type="SendXdtReportEventFromValuesCommands">
          <WasReportConfirmed>false</WasReportConfirmed>
        </Command>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="ImportedFromFile">
      <Commands>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>  
    </Event>

    <Event Id="ImportedReportFromFile">
      <Commands>
        <Command Type="SendXdtEventOnImportReportCommand"/>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="CustomAcquireStored">
      <Commands>
        <Command Type="SendXdtEventCommand">
          <EventType>CustomTestAcquired</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

    <Event Id="ErgospirometryAcquireStored">
      <Commands>
        <Command Type="SendXdtEventCommand">
          <EventType>ErgospirometryTestAcquired</EventType>
        </Command>
        <Command Type="DataGridFirstPageOfResultsCommand"/>
        <Command Type="ValidateCommand"/>
      </Commands>
    </Event>

  </EventsRequestedBySmartClients>

  
  <!-- Patient indications string list source. -->
  <PatientIndications>
    <FilePath>#IndicationsXmlFile#</FilePath>
    <XpathExpression>//Indication</XpathExpression>
  </PatientIndications>
 
  <!-- Patient medications string list source. -->
  <PatientMedications>
    <FilePath>#MedicationNamesXmlFile#</FilePath>
    <XpathExpression>//Medication</XpathExpression>
  </PatientMedications>

  <!-- Patient  string list source. -->
  <PatientMedicationRoutes>
    <FilePath>#MedicationRoutesXmlFile#</FilePath>
    <XpathExpression>//Route</XpathExpression>
  </PatientMedicationRoutes>

  <!-- Patient medication regimes string list source. -->
  <PatientMedicationRegimes>
    <FilePath>#MedicationRegimesXmlFile#</FilePath>
    <XpathExpression>//Regime</XpathExpression>
  </PatientMedicationRegimes>

  <!-- Patient medication units string list source. -->
  <PatientMedicationUnits>
    <FilePath>#MedicationUnitsXmlFile#</FilePath>
    <XpathExpression>//Unit</XpathExpression>
  </PatientMedicationUnits>

  <!-- Diary event activities string list source. -->
  <DiaryEventActivities>
    <FilePath>#DiaryEventActivitiesXmlFile#</FilePath>
    <XpathExpression>//Activity</XpathExpression>
  </DiaryEventActivities>

  <!-- Diary event symptoms string list source. -->
  <DiaryEventSymptoms>
    <FilePath>#DiaryEventSymptomsXmlFile#</FilePath>
    <XpathExpression>//Symptom</XpathExpression>
  </DiaryEventSymptoms>

  <!-- Pacemakers string list source. -->
  <Pacemakers>
    <FilePath>#PacemakersXmlFile#</FilePath>
    <XpathExpression>//Pacemaker</XpathExpression>
  </Pacemakers>

  <!-- Abp acronyms string list source. -->
  <AbpAcronyms>
    <FilePath>#AbpAcronymsXmlFile#</FilePath>
  </AbpAcronyms>
  
  <!-- ErgoSpirometry acronyms string list source. -->
  <ErgoSpirometryAcronyms>
    <FilePath>#ErgoSpirometryAcronymsXmlFile#</FilePath>
  </ErgoSpirometryAcronyms>

  <!-- Holter acronyms string list source. -->
  <HolterAcronyms>
    <FilePath>#HolterAcronymsXmlFile#</FilePath>
  </HolterAcronyms>

  <!-- Rhythm acronyms string list source. -->
  <RhythmAcronyms>
    <FilePath>#RhythmAcronymsXmlFile#</FilePath>
  </RhythmAcronyms>

  <!-- Stress acronyms string list source. -->
  <StressAcronyms>
    <FilePath>#StressAcronymsXmlFile#</FilePath>
  </StressAcronyms>

  <!-- Twelve Lead acronyms string list source. -->
  <TwelveLeadAcronyms>
    <FilePath>#RestingAcronymnsXmlFile#</FilePath>
  </TwelveLeadAcronyms>

  <!-- this is the format used for date fields within the web pages. The format is specified in accordance with Microsoft date time formats
       as described at the following web page: http://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx It also permits custom date
       formats to be defined as described at the following web page: http://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx. On
       Sentinel installation this is defined as "d" - the culture specific short date format -->
  <DateFormat>d</DateFormat>

  <!-- this is the format used for datetime fields within the web pages. The format is specified in accordance with Microsoft date time formats
       as described at the following web page: http://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx It also permits custom datetime
       formats to be defined as described at the following web page: http://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx. On
       Sentinel installation this is defined as "G" - the culture specific short datetime format -->
  <DateAndTimeFormat>G</DateAndTimeFormat>
  
  <!--
  <NationalIdValidator ScriptFile="NhsNumberValidator_csf" TypeName="Spacelabs_Lomond_Server_Presentation_Validators_NhsNumberValidator"/>
  -->
  
  <!-- these commands are performed on every page load on this site -->
  <BeforeEveryPageLoad>
    <Commands>
      <Command Type="VerifyActiveWindowCommand"/>
      <Command Type="ProhibitInvalidPageNameCommand"/>
      <Command Type="ExtendLoginSessionCommand"/>
      <Command Type="WriteUrlQueryParametersIntoFieldsCommand"/>
    </Commands>
  </BeforeEveryPageLoad>


  <!-- these commands are performed after the OnPageLoad commands for each page are executed -->
  <AfterEveryPageLoad>
    <Commands>
      <Command Type="UpdateRecordLocksForKeyFieldsCommand"/>
      <Command Type="SupplyFieldValuesToWebPageCommand">
        <AreInitialValues>true</AreInitialValues>
      </Command>
      <Command Type="SupplyFooterValuesToWebPageCommand">
        <InstallationIdLabel>#Footer_InstallationId#</InstallationIdLabel>
        <UsernameLabel>#Footer_Username#</UsernameLabel>
      </Command>
      <Command Type="ValidateCommand"/>
    </Commands>
  </AfterEveryPageLoad>

  <!-- these commands are performed after the user cancels continuing after being told the patient record is already locked -->
  <AfterRecordLockCancellation>
    <Commands>
      <Command Type="EndWorkflowCommand"/>
    </Commands>
  </AfterRecordLockCancellation>

  <!-- these commands are performed on every ajax request from the web page to the server
  to execute server-side commands -->
  <OnEveryAjaxRequest>
    <Commands>
      <Command Type="VerifyActiveWindowCommand"/>
      <Command Type="ExtendLoginSessionCommand"/>
      <Command Type="UpdateRecordLocksForKeyFieldsCommand"/>
    </Commands>
  </OnEveryAjaxRequest>

</Site>
