<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section should not require alteration during configuration for a particular customer -->
  <configSections>
    <section name="InboxSettings" type="Dmr.Common.IO.InBoxes.Configuration.InboxSettingsHandler, ScpImportService"/>
    <section name="DataImportExport" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Archive" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FolderToOrganisation" type="ScpImportService.InBoxes.Configuration.FolderToOrganisationHandler, ScpImportService"/>
  </configSections>
 
  <InboxSettings>
    <Inboxes>
      <Inbox name="CardioExpress Inbox" path="Inboxes\CardioExpress"  IncludeSubdirectories="true" archivePath="Archive\CardioExpress"/>
    </Inboxes>
  </InboxSettings>

  <Archive>
    <add key="DaysToPurge" value="4"/>
  </Archive>

  <DataImportExport>
    <add key="RootFolder" value="C:\DMR\Sentinel\SCP Import Service" />
    <add key="FileNamePatterns" value=".*\.scp\z" />
    <add key="Encoding" value="utf-8"/>
  </DataImportExport>

  <FolderToOrganisation>
    
    <Map FolderName="Arrabida" Organisation="ARR"/>
  	<Map FolderName="Vila_Real" Organisation="HSP-CVR"/>
  	<Map FolderName="Setubal" Organisation="HS"/>
 <!--    <Map FolderName="Org2" Organisation="Org2"/> -->
   
  </FolderToOrganisation>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>


