<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DicomService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <DicomService.Properties.Settings>
            <setting name="MaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PACSAETitle" serializeAs="String">
                <value>TUCMEDSERVICES</value>
            </setting>
            <setting name="PACSHost" serializeAs="String">
                <value>192.168.20.254</value>
            </setting>
            <setting name="PACSPort" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="DicomServiceAETitle" serializeAs="String">
                <value>SENTINEL</value>
            </setting>
            <setting name="BaseFolder" serializeAs="String">
                <value>C:\DMR\Sentinel\DICOM</value>
            </setting>
            <setting name="WorklistAETitle" serializeAs="String">
                <value>TUCMEDSERVICES</value>
            </setting>
            <setting name="WorklistHost" serializeAs="String">
                <value>192.168.20.254</value>
            </setting>
            <setting name="WorklistPort" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="WorklistPollingInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Resting" serializeAs="String">
                <value>SN-00001</value>
            </setting>
            <setting name="Rhythm" serializeAs="String">
                <value>SN-00002</value>
            </setting>
            <setting name="Holter" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="BloodPressure" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Stress" serializeAs="String">
                <value>SN-00005</value>
            </setting>
            <setting name="ErgoSpirometry" serializeAs="String">
                <value>SN-00006</value>
            </setting>
        </DicomService.Properties.Settings>
    </applicationSettings>
</configuration>
